<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sci.edl_staff" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>독거노인 응급관리</name>
    <!-- <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author> -->
    <content src="html/index.html" />
    <access origin="*" />
    <allow-intent href="http://*"/>
    <allow-intent href="http://192.168.3.164:7070/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <!-- iframe 때문에 넣은 설정. 보안 문제 있을 수 있음 -->
    <allow-navigation href="*://*.iframeContentDomain.com/*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://192.168.253.1" iframe="true" />
    <platform name="android">
        <allow-intent href="market:*" />
        
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <!-- <application android:usesCleartextTraffic="true" /> -->
        </edit-config> <!-- android 보안 문제로 외부 사이트 접근 안 되는 문제 방지 -->
    </platform>
    <preference name="AndroidXEnabled" value="true" />
</widget>
