<!--================================================================
 *  건강 현황 - 수면품질 정보 html
 *  @author MiYeong Jang
 *  @since 
 *  @history 2021.05.20 JG 페이지 초기화 함수(init) 및 이벤트 핸들러 추가,
                           페이지 번역 작업, dom element id 재지정,
                           미사용 script, css 삭제                          
 *  ================================================================
  -->
{% extends 'templates/appmainbase.html' %} {% block head %}
<!-- Date picker plugins css -->
<link href="../../../assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="../../../assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

<style>
    [class*="empty-notice"] {
        display: none;
        padding: 3%;
        font-size: large;
        color: #dcdcdc;
    }
    
    [id^="btn-level"],
    #chart-notice-area {
        display: none;
    }
</style>
{% endblock %} {% block contents %}
<div class="skin-megna page-wrapper" style="padding: 0px;">
    <div class="container-fluid">
        <div class="row page-titles" style="list-style:none;  margin-bottom:0;">
            <div class="col ">
                <h4 class="text-center">
                    <i class="fas fa-notes-medical"></i>
                    <span id="user-name-info">{{userName}}</span>{{sleepPage.pageName}}
                </h4>
                <hr class="m-t-24 m-b-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab nav-justified" role="tablist" style="text-align: center;">
                    <li class="nav-item">
                        <a id="tab-daily" class="nav-link active" data-toggle="tab" href="#tab-contents" role="tab">
                            <span class="hidden-xs-down">{{tabTitle.daily}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-weekly" class="nav-link" data-toggle="tab" href="#tab-contents" role="tab">
                            <span class="hidden-xs-down">{{tabTitle.weekly}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-monthly" class="nav-link" data-toggle="tab" href="#tab-contents" role="tab">
                            <span class="hidden-xs-down">{{tabTitle.monthly}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-yearly" class="nav-link" data-toggle="tab" href="#tab-contents" role="tab">
                            <span class="hidden-xs-down">{{tabTitle.yearly}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-titles">
            <input type="text" class="form-control" id="sleep-datepicker" style="text-align: center;">
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-contents" role="tabpanel">
                <div class="card">
                    <div>
                        <h4 class="card-title" style="margin: 20px 20px 0px;">{{sleepPage.chartTitle1}}
                            <!-- <span class="float-right">
                                <h3>
                                    <span id="total-sleep-time-title">{{initStressInfo.totSleepTime}}</span>
                                </h3>
                            </span> -->
                        </h4>
                        <div class="card-body">
                            <div class="text-center">
                                <div class="empty-notice text-center">{{emptyData}}</div>
                                <input id="sleep-knob" data-plugin="knob" data-width="155" data-height="155" data-linecap=round value={{initSleepInfo.totSleepTimeMinute}} data-fgColor="#8181F7" data-skin="tron" data-angleOffset="0" data-readOnly=true data-thickness=".1" />
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="card-title mb-3" style="margin: 20px 20px 0px;">{{sleepPage.chartTitle2}}
                            <div class="row" style="list-style: none; padding-top: 25px;">
                                <div class="col text-center">
                                    <h5 class="card-subtitle">{{sleepPage.totApneaTimesTitle}}</h5>
                                </div>
                                <div class="col text-center">
                                    <h5 class="card-subtitle">{{sleepPage.totApneaRateTitle}}</h5>
                                </div>
                                <div class="col text-center">
                                    <h5 class="card-subtitle">{{sleepPage.totApneaTime}}</h5>
                                </div>
                            </div>
                            <div>
                                <div class="row" style="list-style: none; padding-top: 10px;">
                                    <div class="col text-center">
                                        <h6 class="text-muted">
                                            <span id="total-apnea-times">
                                            {{initSleepInfo.totApneaCount}}
                                        </span>
                                            <span>{{sleepPage.timesTitle}}</span>
                                        </h6>
                                    </div>
                                    <div class="col text-center">
                                        <h6 class="text-muted">
                                            <span id="total-apnea-rate">{{initSleepInfo.totApneaRatio}}</span>
                                            <span>%</span>
                                        </h6>
                                    </div>
                                    <div class="col text-center">
                                        <h6 class="text-muted">
                                            <span id="total-apnea-time">{{initSleepInfo.totApneaTimeMinute}}</span>
                                            <span>{{sleepPage.minuteTitle}}</span>
                                        </h6 class="text-muted">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br>
                </div>
                <!-- 수면 무호흡 차트 부분 -->
                <div class="card">
                    <div class="row">
                        <h4 class="card-title col-md-5 align-self-center" style="margin: 20px 20px 0px;">{{sleepPage.chartTitle3}}
                            <span><i class="mdi mdi-information-outline h4" id="squality-info" data-toggle="modal" data-target="#sqInfo" style="color:#01c0c8"></i></span></h4>
                        <div class="col-md-7 align-self-center text-right mr-3">
                            <div id="sleep-level0">
                                <span id="btn-level0" class="btn waves-effect waves-light btn-rounded btn-info">
                                    {{sleepPage.sleepLevel0}}
                                </span>
                            </div>
                            <div id="sleep-level1">
                                <span id="btn-level1" class="btn waves-effect waves-light btn-rounded btn-success">
                                    {{sleepPage.sleepLevel1}}
                                </span>
                            </div>
                            <div id="sleep-level2">
                                <span id="btn-level2" class="btn waves-effect waves-light btn-rounded btn-danger">
                                    {{sleepPage.sleepLevel2}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="empty-notice text-center">{{emptyData}}</div>
                        <canvas id="sleep-chart-canvas" height="200" width="350"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- 수면품질 설명 모달 -->
        <div id="sqInfo" class="modal long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="longmodal">{{sleepPage.chartTitle3}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>{{sleepPage.sqModalbody1}}</li>
                            {{sleepPage.sqModalcontent1}}
                            <br>
                            <br>
                            <li>{{sleepPage.sqModalbody2}}</li>
                            {{sleepPage.sqModalcontent2}}
                            <br>
                            <br>
                            <li>{{sleepPage.sqModalbody3}}</li>
                            {{sleepPage.sqModalcontent3}}
                            <br>
                            <br>
                            <li>{{sleepPage.sqModalbody4}}</li>
                            {{sleepPage.sqModalcontent4}}
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100px; margin: 5px;"></div>
    </div>
</div>
{% endblock %} {% block script %}
<!-- Plugin JavaScript -->
<script src="/assets/node_modules/moment/moment.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Chart JS -->
<script src="/assets/node_modules/Chart.js/Chart.min.js"></script>
<!--jquery knob -->
<script src="/assets/node_modules/knob/jquery.knob.js"></script>

<!-- Custom Script -->
<script src="/javascripts/config.js"></script>
<script src="/javascripts/commonUtil.js"></script>
<script src="/web/status/js/sleep.js"></script>
<script>
    let userCode = '{{userCode}}';
    let pUserCode = '{{pUserCode}}';
    let initData = '{{sleepValues | safe }}';
    initData = {
        "sleepValues": JSON.parse(initData)
    };
    init(initData);
</script>

{% endblock %}