<!--
    앱 화면 기본 레이아웃
    @author 
    @since 
    @history 2021.04.13 MY head, script부분 템플릿 변수 추가
             2021.04.22 JG rendering 시 lang 속성 변경하도록 수정
-->
<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>{{title}}</title>

    <!-- This page CSS -->
    <link href="/dist/css/pages/icon-page.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/style.css" rel="stylesheet">
    <link href="/dist/css/style.min.css" rel="stylesheet"> {% block head%} {% endblock %}
</head>

<body class="skin-megna fixed-layout" style="-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none; overflow-y: scroll;">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading...</p>
        </div>
    </div>
    <!-- Main wrapper - style you can find in pages.scss -->

    {% block contents%} {% endblock %}

    <!-- All Jquery -->
    <script src="/javascripts/toggle.js "></script>
    <script src="/assets/node_modules/jquery/jquery-3.2.1.min.js "></script>
    <!-- Bootstrap popper Core JavaScript -->
    <!-- <script src="/assets/node_modules/popper/popper.min.js "></script> -->
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js "></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js "></script>
    <script>
        let $sideOutside = $('.fixed-layout');

        $sideOutside.on('click', function() {

            window.parent.postMessage({
                action: 'sideOutside'
            }, '*'); // TO-DO: 임시로 모든 도메인 허용(*)하였음. 추후 수정할 것
        });
    </script>


    {% block script%} {% endblock %}
</body>

</html>