<!--
    비밀번호 변경 화면
    @author MY, Jang
    @since 
    @history 2021.05.26 JG 레이아웃 수정 및 불필요 스크립트 제거
             
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/sci_logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Sign Up</title>
    <!-- page css -->
    <link href="../../dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <link href="../../dist/css/style.css" rel="stylesheet">

    <style>
        .active-notice,
        .bytes-check {
            margin-top: 0.7em;
            margin-bottom: 0;
            font-size: 9pt;
        }
        
        .deactive-notice {
            display: none;
        }
        
        #label-email {
            float: left;
        }
        
        #sendnumber {
            width: 100%;
            font-size: 10pt;
            margin-top: 15px;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/17.0.18/i18next.min.js"></script>
</head>

<body class="skin-default">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card" style="margin: auto;">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform">
                        <h3 class="text-center m-b-20"><strong>계정정보 확인</strong></h3>

                        <div class="form-group mb-3">
                            <div class="input-group">
                                <input id="id-input" name="id" class="form-control" type="text" placeholder="ID" aria-describedby="name-notice">
                            </div>
                            <div class="row notice-area pl-3">
                                <p id="id-notice" class="deactive-notice form-notice form-control-feedback" style="color: red;">ID를 입력해 주세요. </p>
                                <p class="bytes-check"></p>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group">
                                <input id="name-input" name="name" class="form-control" type="text" placeholder="사용자 이름" aria-describedby="name-notice">
                            </div>
                            <div class="row notice-area pl-3">
                                <p id="name-notice" class="form-notice deactive-notice form-control-feedback" style="color: red;">이름을 입력해 주세요.</p>
                                <p class="bytes-check ml-2 mr-2"></p>
                            </div>
                        </div>

                        <div class="form-group mb-3" style="text-align: center;">
                            <label id="label-email" for="email-input">이메일 인증</label>
                            <div class="input-group">
                                <input id="email-input" name="eId" type="text" class="form-control" placeholder="Email" aria-describedby="" />
                                <span class="ml-1 mr-1 mt-2">@</span>
                                <input id="email-input2" name="eDomain" type="text" class="form-control" placeholder="Email Domain" aria-describedby="" />
                            </div>
                            <p id="email-notice" class="form-notice deactive-notice form-control-feedback" style="color: red;">이메일과 도메인을 모두 입력해 주세요.</p>
                            <button id="sendnumber" class="btn btn-secondary active-notice" type="button">인증번호 전송</button>

                            <div id="input-authnumber" class="deactive-notice">
                                <div>
                                    <input id="authnumber" name="authnumber" type="text" class="form-control mt-3" placeholder="" aria-describedby="" />
                                </div>
                                <p id="e-auth-notice" class="form-control-feedback" style="color: red;">이메일 인증 코드를 전달하였습니다. 인증번호를 입력해 주세요.</p>
                                <button id="checknumber" class="btn btn-block btn-success" type="button">인증번호 확인</button>
                            </div>
                        </div>

                        <div class="form-group text-center p-b-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" id="findPw-btn" type="button">계정정보 확인</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div id="modify-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <input type="hidden" id="modal-user-code" />
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modify-title" class="modal-title">새 비밀번호 변경</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" style="height: 18rem; overflow:auto;">
                    <form class="form p-t-20">
                        <div class="form-group mb-3">
                            <label id="label-new-pwd" for="new-pwd-input">새 비밀번호</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="pwd-addon"><i class="mdi mdi-lock"></i></span>
                                </div>
                                <input id="new-pwd-input" name="pwd" class="form-control" type="password" placeholder="Password" aria-describedby="" required>
                            </div>
                            <div class="row notice-area pl-3">
                                <p class="bytes-check ml-2 mr-2"></p>
                                <p id="new-pwd-notice" class="deactive-notice form-control-feedback">9자리 이상 16자리 이하의 영문, 숫자, 특수문자로 구성해 주세요.<br> 특수문자는 $ @ ! % * # ? & 만 사용 가능합니다.</p>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label id="label-confirm-pwd" for="confirm-pwd-input">비밀번호 확인</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="confirm-pwd-addon"><i class="mdi mdi-lock"></i></span>
                                </div>
                                <input id="confirm-pwd-input" name="confirm-pwd" class="form-control" type="password" placeholder="Confirm Password" aria-describedby="" required>
                            </div>
                            <div class="row notice-area pl-3">
                                <p class="bytes-check ml-2 mr-2"></p>
                                <p id="confirm-pwd-notice" class="deactive-notice form-control-feedback">비밀번호가 일치하지 않습니다.</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal-submit-btn" type="button" class="btn btn-success waves-effect">비밀번호 변경</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">닫기</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- All Jquery -->
    <script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/node_modules/popper/popper.min.js"></script>
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/commonUtil.js"></script>
    <script src="/web/index/findPw.js"></script>

</body>

</html>